.stat_spinner {
    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 2rem;
        flex-wrap: wrap;
    }
    &__stat {
        margin-inline: auto;
        min-width: 300px;
        display: flex;
        align-items: end;
        gap: 0.5rem;
        justify-content: center;
        .prefix {
            align-content: end;
            font-size: var(--fs-700);
        }
        .number {
            font-size: var(--fs-900);
            font-weight: var(--fw-700);
            align-content: end;
            line-height: 1.4;
        }
        .suffix {
            font-size: var(--fs-700);
            align-content: start;
        }
    }
    &__text {
        font-size: var(--fs-500);
        text-align: center;
    }
}
