:not(.homepage) .video_hero {
    --_page-offset: var(--page-offset-top);
}
.homepage .video_hero {
    --_page-offset: var(--page-offset-top--hp);
}
.video_hero {
    height: 600px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin-bottom: calc(var(--_page-offset) * -1 + var(--nav-height));
    img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
    }
}