.quote_image_bg {
    .container {
        background-color: steelblue;
        position: relative;
        overflow: hidden;
        isolation: isolate;
    }

    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: -1;
    }

    .row {
        display: flex;
        align-items: stretch;
        background-color: hsl(0 0 0 / 0.4);
    }

    &__quote-container {
        padding: 3rem;
        height: 100%;
        position: relative;

        display: flex;
        justify-content: space-beween;
        flex-direction: column;
        box-sizing: border-box;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 58 49'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23d9ba2e; stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Crect class='cls-1' width='24' height='49'/%3E%3Crect class='cls-1' x='34' width='24' height='49'/%3E%3C/svg%3E");
            aspect-ratio: 6 / 5;
            width: 40px;
        }
        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            bottom: 0;
            right: 1rem;
        }

    }
    &__quote {
        font-size: var(--fs-700);
        font-family: var(--ff-heading);
        font-weight: var(--fw-500);
        font-style: italic;
        color: white;
        padding-bottom: 1rem;
    }
    &__attribution {
        font-size: var(--fs-300);
        padding-bottom: 1rem;
        color: white;
    }
}