:not(.homepage) .video_hero {
    --_nav-offset: var(--nav-offset-top);
}
.homepage .video_hero {
    --_nav-offset: var(--nav-offset-top--hp);
}
.video_hero {
    height: 600px;
    overflow: hidden;
    object-fit: cover;
    position: relative;
    z-index: -1;
    margin-bottom: calc(var(--_nav-offset) * -1 + var(--nav-height))
}