.two_col_text_feature {
    .container {
        background-color: white;
        position: relative;
    }

    .quote {
        margin-top: 3rem;
        padding: 3rem 3rem 4rem 3rem;
        position: relative;

        @media (min-width: 768px) {
            border-top: none;
            border-left: 1px solid var(--col-grey-400);
        }

        display: flex;
        justify-content: space-beween;
        flex-direction: column;
        box-sizing: border-box;

        &::before,
        &::after {
            content: '';
            position: absolute;
            @include quote-icon($quote-fill-gold);
            aspect-ratio: 6 / 5;
            width: 40px;
        }
        &::before {
            top: 0;
            left: 0;
        }
        &::after {
            bottom: 0;
            right: 1rem;
        }

        &__quote {
            font-size: var(--fs-800);
            font-family: var(--ff-heading);
            font-weight: var(--fw-500);
            font-style: italic;
            color: var(--col-gold-400);
            padding-bottom: 1rem;
            line-height: 1.1;
        }
        &__attribution {
            font-size: var(--fs-300);
            padding-bottom: 1rem;
        }
    }
}
