.latest_insights {
    .container {
        background-color: white;
        min-height: 500px;
    }
    &__inner {
        border-left: 1px solid var(--col-grey-400);
        display: grid;
        grid-template-columns: 100px auto;
        gap: 2rem;
    }
    &__title {
        position: relative;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        // overflow: hidden;
        h2 {
            position: absolute;
            transform: rotate(-90deg) translate(-100%, -100%);
            top: 0;
            left: 85%;
            transform-origin: top left;
            font-family: var(--ff-body);
            color: var(--col-red-400);
            text-transform: uppercase;
            letter-spacing: 0.1em;
            white-space: nowrap;
            margin-bottom: 0;
        }
    }

    &__card {
        display: grid;
        text-decoration: none;
        color: var(--col-dark);
        &:hover {
            color: var(--col-dark);
            h3 {
                color: var(--col-red-400);
            }
            .latest_insights__image {
                border-color: var(--col-gold-400);
            }
        }
    }

    &__image {
        width: 75%;
        max-width: 250px !important;
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        border: 3px solid transparent;
        transition: border-color var(--transition);
        margin-bottom: 1rem;
    }
    &__post-title {
        font-size: var(--fs-550);
        font-family: var(--ff-body);
        position: relative;
        transition: color var(--transition);
        &::before {
            content: "";
            display: block;
            width: 2rem;
            height: 1rem;
            border-top: 2px solid var(--col-red-400);
            margin-bottom: 0.75rem;
        }
    }
}