.contact_cards {
    &__card {
        display: grid;

        grid-template-columns: 180px 1fr;
        gap: 2rem;
    }

    &__image {
        width: 100%;
        max-width: 200px !important;
        aspect-ratio: 1;
        border-radius: 100%;
        object-fit: cover;
        margin-bottom: 2rem;
    }

    &__name {
        font-family: var(--ff-heading);
        font-size: var(--fs-600);
        font-weight: var(--fw-800);
    }
    &__role {
        color: var(--col-gold-400);
    }
    &__email {
        margin-bottom: 1rem;
    }
}
